@import '../../styles/global.scss';

.contact{
    padding-top: 10px;
    .container{
        display: flex;
        .left{
            background-image: url("../../Assets/Contact/bg.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100vw;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                height: 17vw;
                width: 34vw;
                letter-spacing: 1px;
                font-size: 65px;
            }
            
        }
        .right{
            height: 90vh;
            width: 100vw;
            flex-grow: 0.5;
            display: flex;
            justify-content: center;
            align-items: center;

            .container2{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    border: 2px solid $lightblue;
                    border-radius: 30px;

                    height: 70vh;
                    width: 30vw;

                    box-shadow: 0 0 8px 0 $lightblue;
                    transition: all 0.3s ease-in-out;

                    &:active{
                        box-shadow: 0 0 25px 0 blue;
                    }
                }

            span{
                letter-spacing: 1px;
                font-weight: 600;
                font-size: 65px;
                color: $lightblue;
            }
            form{
                height: 300px;
                width: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                input{
                    height: 50px;
                    width: 100%;
                    border-radius: 0.5rem;
                    border: 1px solid $lightblue;
                    font-size: 15px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: 600;
                    letter-spacing: 1px;

                    &:focus {
                        outline: none !important;
                    }
                    
                    padding: 10px;
                    -webkit-box-sizing: border-box; 
                    -moz-box-sizing: border-box;    
                    box-sizing: border-box;   
                }

                button{
                    letter-spacing: 1px;
                    padding: 15px;
                    width: 150px;
                    border-radius: 10px;
                    transition: all 0.5s ease;
                    font-size: 15px;
                    background: $lightblue;
                    color: white;

                    &:hover{
                        background: #003cff;
                        border: 2px solid white;
                        color: white;
                    }
                }
            }
        }
    }
}