.App {
    height: 100vh;
}

.sections {
    position: relative;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    scroll-snap-type: y mandatory; 
    /* Scroll effect */
    scrollbar-width: none;
    /* for hiding scrollbar firefox */

}

.sections::-webkit-scrollbar {
    display: none;
    /* for chrome, edge, safari */
}

.sections * {
    width: 100%;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}