@import '../../styles/global.scss';

.background{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    width: 100%;
    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-grow: 5;
        width:80%;
        img{
            height: 100%;
            width: 100%;
            border-radius: 5%;
            margin-left: 10px;
        }
    }

    .right{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        line-height: 50px;
        .text-container{
            padding: 20px;
        }
        s2{
            font-size: 32px;
        }
        s1{
            font-size: 50px;
            color: $lightblue;
        }
        p{
            font-size: 22px;
            color: white;
        }
        h3{
            display: inline;
        }
        .table{
            border: 3px solid $lightblue;
            border-radius: 1rem;
            margin: 15px;
            display: flex;
            justify-content: space-between;
            padding: 30px;

            .col1,.col2{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 1500px){
    .background{
        flex-direction: column;

        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            img{
                margin: 0;
                height: 50vw;
                width: 40vw;
            }
        }
    }
}